.formulario {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.agregar {
  margin-top: 20px;
  margin-right: 4px;
  width: 150px;
  background-color: green;
  color: white;
}
.actualizar {
  margin-top: 20px;
  margin-right: 4px;
  width: 150px;
  background-color: blue;
  color: white;
}
.eliminar {
  margin-top: 20px;
  width: 150px;
  background-color: red;
  color: white;
}
.botones {
  display: flex;
  justify-content: center;
}
.formulario input {
  width: 300px;
  margin-top: 10px;
  margin-left: 40%;
}
